<div
  class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm"
>
  <h5 class="my-0 mr-md-auto font-weight-normal">Test Project</h5>

  <nav class="my-2 my-md-0 mr-md-3" *ngIf="flag">
    <a
      class="btn btn-outline-primary"
      *ngIf="authGuard.canActivate()"
      routerLink="/product-list"
      >Product View</a
    >
  </nav>
  <button class="btn btn-outline-danger" (click)="singOut()" *ngIf="flag">
    Sign Out
  </button>
</div>

<router-outlet></router-outlet>
